:root {
  --primary-bg-color: #222;
  --primary-fg-color: #ccc;

  --basic-font-size: 1.1rem;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-fg-color);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: var(--basic-font-size);
}

.git-areas {
  margin: 0;
  padding: 1.5rem;
  list-style: none;
  display: flex;
}

.uc {
  text-transform: uppercase;
}

.git-areas-item {
  text-align: center;
  font-weight: 500;
  width: 25%;
}

.git-area-item-title {
  text-transform: uppercase;
  height: 3.5rem;
}

.git-areas-item-desc {
  font-size: 40%;
  padding: 0 0.5rem;
}

.git-areas-item-working-directory {
  background-color: cornflowerblue;
}

.git-areas-item-staging-area {
  background-color: darkslategray;
}

.git-areas-item-local-repository {
  background-color: navy;
}

.git-areas-item-remote-repository {
  background-color: cadetblue;
}
